.column {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card {
  width: 150px;
  height: 150px;
}

.a77z {
  margin: -21px;
  padding: 21px;
  background-color: #9400cf;
  color: aliceblue;
}

.a77k {
  margin: -21px;
  padding: 21px;
  background-color: #31ccf3;
}

.a77o {
  margin: -21px;
  padding: 21px;
  background-color: #27d830;
}

.a77r {
  margin: -21px;
  padding: 21px;
  background-color: #3452fa;
  color: aliceblue;
}

.a77t {
  margin: -21px;
  padding: 21px;
  background-color: #fa34d9;
}

.a77p {
  margin: -21px;
  padding: 21px;
  background-color: #fa3434;
}

.first {
  background-color: #f1b139;
  margin: -21px;
  padding: 21px;
}

.second {
  background-color: #fd6b6b;
  margin: -21px;
  padding: 21px;
}

.third {
  background-color: #5fe24d;
  margin: -21px;
  padding: 21px;
}

.fourth {
  background-color: #5296fd;
  margin: -21px;
  padding: 21px;
}