<div class="card">
  <div class="card-header">
    <h2>ROK Manager</h2>
  </div>
  <div class="card-body">
    <div class="flex flex-column gap-2">
      <label htmlFor="username">Username</label>
      <input id="username" type="text" pInputText [(ngModel)]="username" />
    </div>

    <div class="flex flex-column gap-2">
      <label htmlFor="password">Password</label>
      <input id="password" type="password" pPassword [(ngModel)]="password" />
    </div>

    <button pButton label="Anmelden" (click)="onLogin()"></button>
  </div>
  <div class="card-footer">
    <p>Entwickelt von <a href="http://B1GSt4R.de/">B1GSt4R</a></p>
  </div>
</div>
