<app-menu></app-menu>

<div class="content">
  <div class="list">
    <div class="card" routerLink="/kingdoms/2877">
      <div class="card-body">
        <p>2877</p>
      </div>
    </div>
    <div class="card" routerLink="/kingdoms/2884">
      <div class="card-body">
        <p>2884</p>
      </div>
    </div>
    <div class="card" routerLink="/kingdoms/2893">
      <div class="card-body">
        <p>2893</p>
      </div>
    </div>
    <div class="card" routerLink="/kingdoms/2891">
      <div class="card-body">
        <p>2891</p>
      </div>
    </div>
  </div>
</div>