<div class="list">
  <div class="card" routerLink="/kingdom/2877">
    <div class="card-body">
      <p>2877</p>
    </div>
  </div>
  <div class="card" routerLink="/kingdom/2884">
    <div class="card-body">
      <p>2884</p>
    </div>
  </div>
  <div class="card" routerLink="/kingdom/2893">
    <div class="card-body">
      <p>2893</p>
    </div>
  </div>
  <div class="card" routerLink="/kingdom/2891">
    <div class="card-body">
      <p>2891</p>
    </div>
  </div>
  <!-- <div class="card">
    <div class="card-body">
      <p>2802</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p>2852</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p>2871</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p>2872</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p>2890</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p>3091</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p>1822</p>
    </div>
  </div> -->
</div>