p {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-content: space-evenly;
}

.item {
  background-color: gray;
  height: 150px;
  width: 150px;
  text-align: center;
  line-height: 150px;
  font-weight: bold;
  transition: 0.4s;
  flex: 0 0 150px;
  border-radius: 25px;
}

.item:hover {
  transition: 0.4s;
  cursor: pointer;
}

.az {
  color: #ffff00;
  text-decoration: 2px solid underline #ffff00;
}

.ak {
  color: #ffa500;
  text-decoration: 2px solid underline #ffa500;
}

.ao {
  color: #00b900;
  text-decoration: 2px solid underline #00b900;
}

.ar {
  color: #0000ff;
  text-decoration: 2px solid underline #0000ff;
}

.ay {
  color: #ff0000;
  text-decoration: 2px solid underline #ff0000;
}

.az:hover {
  background-color: yellow;
  color: black;
}

.ak:hover {
  background-color: orange;
  color: black;
}

.ao:hover {
  background-color: green;
  color: black;
}

.ar:hover {
  background-color: blue;
  color: black;
}

.ay:hover {
  background-color: red;
  color: black;
}