/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
  // font-family: var(--font-family);
  background-color: #555555;
}

h1, h2, h3, h4, h5, h6, p {
  color: aliceblue;
}

.card {
  background-color: #353535;
}

a, a:visited {
  color: #2ad400;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: aliceblue;
  text-decoration: underline solid #2ad400 1px;
  transition: 0.3s;
}