<mat-card>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="item.Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>ReadName</mat-label>
      <input matInput [(ngModel)]="item.ReadName">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>PlayerId</mat-label>
      <input matInput [(ngModel)]="item.PlayerId">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Registered</mat-label>
      <input matInput [ngModel]="item.Registered | date:'yyyy-MM-dd'" type="date" (ngModelChange)="item.Registered=$event">
    </mat-form-field>
  </mat-card-content>
  <mat-card-footer>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!item.Name">Speichern</button>
    <button mat-raised-button color="primary" (click)="del()">Löschen</button>
    <button mat-raised-button color="primary" routerLink="..">Zurück</button>
  </mat-card-footer>
</mat-card>